In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
data = pd.read_csv('data.csv')
col_list = ['Manuf_date','Launch_date', 'Protocol_date']
for col_name in col_list:
    data[col_name] = pd.to_datetime(data[col_name], format='%d.%m.%Y',
                                    errors='coerce', dayfirst=True)
data.head()

,Protocol_number,Protocol_date,Manuf_date,Launch_date,Product,Component_1,Component_2,Component_3,Component_4,Component_5,...,Component_123,Component_124,Component_125,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132
0,8107,2020-03-07,2020-02-12,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4553,2020-03-07,2020-02-12,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9831,2020-08-10,2020-07-22,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10580,2020-12-18,2020-12-01,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1238,2020-02-20,2020-01-23,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
def convertation(manuf_date, income_date, protocol_date):
    '''Returns time spent on analyses
    manuf_date - manufacturing date,
    income_date - date, when the sample come to laboratory,
    protocol_date - date from the protocol'''
    delay = datetime.timedelta(days=1)
    if str(protocol_date) != 'NaT':
        if str(income_date) != 'NaT':
            in_date = income_date
        elif str(manuf_date) != 'NaT':
            in_date = manuf_date + delay
        else:
            return np.nan
        delta = protocol_date - in_date
        if delta.days < -250 or delta.days > 250:
            in_date = in_date.replace(year=protocol_date.year)
            delta = protocol_date - in_date
        if delta.days < 0:
            delta = in_date - protocol_date    
        if delta.days > 250 or delta.days < 0:
            return np.nan
        return int(delta.days)
    return np.nan

In [4]:
data['Days_analysis'] = data[col_list].apply(lambda data: \
                convertation(data[col_list[0]], data[col_list[1]], data[col_list[2]]),
                                              axis=1)

In [5]:
data.head()

,Protocol_number,Protocol_date,Manuf_date,Launch_date,Product,Component_1,Component_2,Component_3,Component_4,Component_5,...,Component_124,Component_125,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis
0,8107,2020-03-07,2020-02-12,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
1,4553,2020-03-07,2020-02-12,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.0
2,9831,2020-08-10,2020-07-22,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18.0
3,10580,2020-12-18,2020-12-01,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16.0
4,1238,2020-02-20,2020-01-23,NaT,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27.0

In [6]:
data.describe()

,Protocol_number,Product,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,...,Component_124,Component_125,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis
count,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,...,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,24342.000000,23478.000000
mean,11509.577479,313.273683,0.156191,0.230219,0.255813,0.223852,0.200066,0.301619,0.281119,0.222250,...,0.009901,0.000616,0.000616,0.003779,0.005546,0.000370,0.000082,0.000041,0.008545,23.611935
std,6625.628411,127.931346,0.363044,0.420982,0.436326,0.416832,0.400058,0.458970,0.459944,0.415767,...,0.099010,0.024817,0.024817,0.061362,0.074266,0.019225,0.009064,0.006409,0.092045,21.904879
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5772.250000,219.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000
50%,11538.000000,300.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
75%,17268.750000,405.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000
max,22881.000000,569.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,250.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24342 entries, 0 to 24341
Columns: 138 entries, Protocol_number to Days_analysis
dtypes: datetime64[ns](3), float64(1), int64(134)
memory usage: 25.6 MB

In [8]:
np.round(data.isna().sum()[data.isna().sum()>0] / data.shape[0], 2)

Protocol_date    0.01
Manuf_date       0.17
Launch_date      0.86
Days_analysis    0.04
dtype: float64

In [9]:
data = data.dropna(subset=['Days_analysis'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23478 entries, 0 to 24341
Columns: 138 entries, Protocol_number to Days_analysis
dtypes: datetime64[ns](3), float64(1), int64(134)
memory usage: 24.9 MB

In [10]:
data['Year'] = data['Protocol_date'].dt.year

In [11]:
data['Launch_date'] = data['Launch_date'].fillna(data['Manuf_date']+datetime.timedelta(days=1))

In [12]:
np.round(data.isna().sum()[data.isna().sum()>0] / data.shape[0], 2)

Manuf_date    0.14
dtype: float64

In [13]:
data.head()

,Protocol_number,Protocol_date,Manuf_date,Launch_date,Product,Component_1,Component_2,Component_3,Component_4,Component_5,...,Component_125,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis,Year
0,8107,2020-03-07,2020-02-12,2020-02-13,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,2020
1,4553,2020-03-07,2020-02-12,2020-02-13,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,23.0,2020
2,9831,2020-08-10,2020-07-22,2020-07-23,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,18.0,2020
3,10580,2020-12-18,2020-12-01,2020-12-02,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,16.0,2020
4,1238,2020-02-20,2020-01-23,2020-01-24,427,1,0,0,0,0,...,0,0,0,0,0,0,0,0,27.0,2020

In [14]:
def sample_count(entry_dates, exit_dates, date):
    '''Returns number of samples, having the date in their range entry_date - exit_date'''
    sample_count = 0
    for i in range(len(exit_dates)):
        start = entry_dates[i]
        finish = exit_dates[i]
        if (date < finish) and (date >= start):
            sample_count += 1
        if finish == start == date:
            sample_count += 1
    return sample_count

In [15]:
start_dates = data['Launch_date'].to_list()
finish_dates = data['Protocol_date'].to_list()
data['Samples_number'] = data[['Launch_date']].apply(lambda data: \
                      sample_count(start_dates, finish_dates, data['Launch_date']),\
                      axis=1)

In [16]:
data.head()

,Protocol_number,Protocol_date,Manuf_date,Launch_date,Product,Component_1,Component_2,Component_3,Component_4,Component_5,...,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis,Year,Samples_number
0,8107,2020-03-07,2020-02-12,2020-02-13,427,1,0,0,0,0,...,0,0,0,0,0,0,0,23.0,2020,218
1,4553,2020-03-07,2020-02-12,2020-02-13,427,1,0,0,0,0,...,0,0,0,0,0,0,0,23.0,2020,218
2,9831,2020-08-10,2020-07-22,2020-07-23,427,1,0,0,0,0,...,0,0,0,0,0,0,0,18.0,2020,163
3,10580,2020-12-18,2020-12-01,2020-12-02,427,1,0,0,0,0,...,0,0,0,0,0,0,0,16.0,2020,360
4,1238,2020-02-20,2020-01-23,2020-01-24,427,1,0,0,0,0,...,0,0,0,0,0,0,0,27.0,2020,234

In [17]:
data[data['Samples_number'] == data['Samples_number'].min()]

,Protocol_number,Protocol_date,Manuf_date,Launch_date,Product,Component_1,Component_2,Component_3,Component_4,Component_5,...,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis,Year,Samples_number
1522,1844,2014-11-27,NaT,2014-11-25,296,0,0,0,0,0,...,0,0,0,0,0,0,0,2.0,2014,1
1676,13020,2014-11-17,NaT,2014-11-13,193,0,0,0,0,0,...,0,0,0,0,0,0,0,4.0,2014,1
1677,11001,2014-09-18,NaT,2014-09-15,193,0,0,0,0,0,...,0,0,0,0,0,0,0,3.0,2014,1
1701,1120,2014-01-30,NaT,2014-01-29,318,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
1822,437,2014-02-20,NaT,2014-02-19,96,1,1,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
1839,6168,2014-11-04,NaT,2014-11-07,526,1,0,1,0,0,...,0,0,0,0,0,0,0,3.0,2014,1
1871,7819,2014-08-19,NaT,2014-08-18,157,1,1,1,1,1,...,0,0,0,0,0,0,0,1.0,2014,1
2211,19641,2014-10-31,NaT,2014-10-31,104,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,2014,1
3100,17754,2014-11-07,NaT,2014-11-07,108,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,2014,1
3167,1194,2014-03-13,NaT,2014-03-12,109,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
3577,5340,2014-08-20,NaT,2014-08-19,93,1,1,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
7019,879,2013-11-22,NaT,2013-11-21,388,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2013,1
7251,1996,2014-02-06,NaT,2014-02-05,103,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
9976,15898,2014-12-26,NaT,2014-12-25,240,0,1,1,1,1,...,0,0,0,0,0,0,0,1.0,2014,1
11165,21165,2016-01-14,NaT,2015-01-12,265,0,0,0,0,0,...,0,0,0,0,0,0,0,2.0,2016,1
11565,10338,2014-06-27,NaT,2014-06-26,265,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2014,1
15840,785,2013-09-05,NaT,2013-09-04,101,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2013,1
15842,2595,2013-09-06,NaT,2013-09-05,101,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,2013,1
16691,10072,2014-08-14,NaT,2014-08-13,236,1,1,1,1,1,...,0,0,0,0,0,0,0,1.0,2014,1
18519,1047,2014-01-20,NaT,2014-01-17,382,0,0,0,0,0,...,0,0,0,0,0,0,0,3.0,2014,1
21515,3543,2014-01-25,NaT,2014-01-24,235,0,0,1,1,0,...,0,0,0,0,0,0,0,1.0,2014,1
23482,1353,2016-01-25,NaT,2016-01-21,449,0,0,0,0,1,...,0,0,0,0,0,0,0,4.0,2016,1

In [18]:
col_list = ['Manuf_date','Launch_date', 'Protocol_date']
data = data.drop(col_list, axis=1)
data.head()

,Protocol_number,Product,Component_1,Component_2,Component_3,Component_4,Component_5,Component_6,Component_7,Component_8,...,Component_126,Component_127,Component_128,Component_129,Component_130,Component_131,Component_132,Days_analysis,Year,Samples_number
0,8107,427,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,23.0,2020,218
1,4553,427,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,23.0,2020,218
2,9831,427,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18.0,2020,163
3,10580,427,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16.0,2020,360
4,1238,427,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,27.0,2020,234

In [19]:
data.to_csv('finished_data.csv', index=False)